<div class="row">
  <div class="span9<%= @table.present? ? ' go' : '' %>">
    <% if @table.present? %>
    <div id="table_area">
      <script type="text/javascript" src="/assets/jquery-1.8.3.js"></script>
      <script type="text/javascript" src="/assets/jquery-ui-1.9.2.custom.min.js"></script>
      <script type="text/javascript" src="/assets/jquery.ui.touch-punch.min.js"></script>
      <style TYPE="text/css">
        #table_area {
          position: relative;
	  width: 700px;
        }
      </style>
      <img src="/assets/goban.png">
      <% @table.items.each do |item| %>
        <img class="draggable" style="position: absolute; top: <%= item.position_y %>px; left: <%= item.position_x %>px;" src="/assets/<%= item.kind %>.gif">
      <% end %>
      <script type="text/javascript">
	/* class名に"draggable"を持つオブジェクトをドラッグ可能にする */
	$('.draggable').draggable({
		/* ドラッグ可能範囲はid名"area"内のみ */
		containment: '#table_area'
	});
	$('#table_area').droppable({
		accept: '.draggable',
		drop: function(e, ui) {
			var dropItem = ui.draggable;
			//alert('top' + dropItem.css('top') + '/left' + dropItem.css('left'));
		}
	});
	/* 縦スクロール禁止 */
	$(document).bind("touchmove", function()
	{
		event.preventDefault();
	});
      </script>
    </div>
    <% else %>
    <%= render 'messages' %>
    <% end %>
  </div>
  <div class="span3">
    <% if @table.present? %>
    <%= render 'messages' %>
    <% end %>
    <ul class="members">
    </ul>

    <ul class="channels channel_list">
      <% @channels.each do |channel| %>
      <li class="channel_name<%= channel.name == @channel.name ? " here" : "" %>"><%= link_to channel.name, channel_path(channel) %></li>
      <% end %>
      <li><%= link_to 'To top', root_path %></li>
    </ul>
  </div>
</div>
