<div class="row">
<div class="span9">
<%= render 'message_form' %>
<ul class="messages" data-channel="presence-channel-<%= @channel.id %>">
<% @messages.each do |message| %>
  <li>
    <span class="time"><%= message.created_at.localtime.strftime('%H:%M') %></span>
    <span class="username<%= message.user_name == session[:user_name] ? " myself" : "" %>">(<%= message.user_name.blank? ? 'unknown' : message.user_name %>)</span>
    <span class="content"><%= message.content %></span>
  </li>
<% end %>
</ul>
</div>
<div class="span3">
  <ul class="members">
  </ul>

  <ul class="channels channel_list">
  <% @channels.each do |channel| %>
  <li class="channel_name<%= channel.name == @channel.name ? " here" : "" %>"><%= link_to channel.name, channel_path(channel) %></li>
  <% end %>
  <li><%= link_to 'To top', root_path %>
  </ul>
</div>
</div>
