<script type="text/javascript" src="/assets/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/assets/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/assets/jquery.ui.touch-punch.min.js"></script>
<style TYPE="text/css">
#area {
	position: relative;
	width: 700px;
}
</style>
<div id="area">
<img src="/assets/goban.png">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 60px; left: 600px;" src="/assets/black.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
<img class="draggable" style="position: absolute; top: 180px; left: 600px;" src="/assets/white.gif">
</div>
<script type="text/javascript">
	/* class名に"draggable"を持つオブジェクトをドラッグ可能にする */
	$('.draggable').draggable({
		/* ドラッグ可能範囲はid名"area"内のみ */
		containment: '#area'
	});
	$('#area').droppable({
		accept: '.draggable',
		drop: function(e, ui) {
			var dropItem = ui.draggable;
			//alert('top' + dropItem.css('top') + '/left' + dropItem.css('left'));
		}
	});
	/* 縦スクロール禁止 */
	$(document).bind("touchmove", function()
	{
		event.preventDefault();
	});
</script>
<!-- 仮のDD＆canvasエリアここまで -->
<div class="row">
<div class="span9">
<%= render 'message_form' %>
<ul class="messages" data-channel="presence-channel-<%= @channel.id %>">
<% @messages.each do |message| %>
  <li>
    <span class="time"><%= message.created_at.localtime.strftime('%H:%M') %></span>
    <span class="username<%= message.user_name == session[:user_name] ? " myself" : "" %>">(<%= message.user_name.blank? ? 'unknown' : message.user_name %>)</span>
    <span class="content"><%= message.content %></span>
  </li>
<% end %>
</ul>
</div>
<div class="span3">
  <ul class="members">
  </ul>
</div>
</div>
