<div class="row">
  <div class="span9<%= @table.present? ? ' go' : '' %>">
    <% if @table.present? %>
    <div id="table_area">
      <style TYPE="text/css">
        #table_area {
          position: relative;
	  width: 700px;
        }
      </style>
      <img src="/assets/goban.png">
      <% @table.items.each do |item| %>
        <img class="draggable" style="position: absolute; top: <%= item.position_y %>px; left: <%= item.position_x %>px;" src="/assets/<%= item.kind %>.gif" data-item-id="<%= item.id %>">
      <% end %>
    </div>
    <% else %>
    <%= render 'messages' %>
    <% end %>
  </div>
  <div class="span3">
    <% if @table.present? %>
    <%= render 'messages' %>
    <% end %>
    <div class="connection_status"><h3>接続: </h3><div class="status offline">オフライン</div></div>
    <ul class="members">
    </ul>

    <ul class="channels channel_list">
      <% @channels.each do |channel| %>
      <li class="channel_name<%= channel.name == @channel.name ? " here" : "" %>" data-channel-id="<%= @channel.id.to_s %>"><%= link_to channel.name, channel_path(channel) %></li>
      <% end %>
      <li><%= link_to 'To top', root_path %></li>
    </ul>
  </div>
</div>
