<%= content_for :foot do %>
<% if @table.present? && @table.name == 'VideoChat' %>
  <%= javascript_include_tag "http://cdn.peerjs.com/0.3/peer.min.js" %>
  <%= javascript_include_tag "webrtc" %>
<% end %>
<% end %>
<div class="row">
  <div class="span9<%= @table.present? && @table.name.include?('Go') ? ' go' : '' %><%= @table.present? && @table.name=='VideoChat' ? ' video_chat' : '' %>">
    <% if @table.present? && @table.name.include?('Go') %>
    <div id="table_area">
      <style TYPE="text/css">
        #table_area {
          position: relative;
	  width: 700px;
        }
      </style>
      <%= image_tag 'goban'+(@table.name=='Go6ro' ? '6': '')+'.png', class: "ban" %>
      <% @table.items.each do |item| %>
        <img class="draggable" style="position: absolute; top: <%= item.position_y %>px; left: <%= item.position_x %>px;" src="<%= asset_path item.kind+'.gif' %>" data-item-id="<%= item.id %>">
        <% if @latest_moving_item.present? and @latest_moving_item.id == item.id %>
        <div class="label" style="top: <%= item.position_y %>px; left: <%= item.position_x + 30 %>px;"><%= item.latest_moving_user_name %></div>
        <% end %>
      <% end %>
      <audio src="/assets/spo_ge_igo_utu01.mp3" id="go_sound" preload="auto"/>
    </div>
    <% elsif @table.present? && @table.name == 'VideoChat' %>
      <div id="local">
      </div>
      <div id="remote">
      </div>
      <div id="pickup">
      </div>
      <script>
        var channelId = <%= @channel.id %>;
      </script>
    <% else %>
    <%= render 'messages' %>
    <% end %>
  </div>
  <div class="span3">
    <% if @table.present? %>
    <%= render 'messages' %>
    <% end %>
    <div class="connection_status"><h3>接続: </h3><div class="status offline">オフライン</div></div>
    <ul class="members">
    </ul>

    <ul class="channels channel_list">
      <% @channels.each do |channel| %>
      <li class="channel_name<%= channel.name == @channel.name ? " here" : "" %>" data-channel-id="<%= @channel.id.to_s %>"><%= link_to channel.name, channel_path(channel) %></li>
      <% end %>
      <li><%= link_to 'To top', root_path %></li>
    </ul>
  </div>
</div>
