<h1>Listing messages</h1>
<%= render 'form' %>
<table>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.created_at.localtime.strftime('%H:%M') %></td>
    <td><%= message.content %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
