<p>こんにちは <%= session[:user_name]%> さん
<%= link_to 'ログアウト', {:controller => 'authentication', :action => 'logout'}, {:class => 'btn btn-mini'} %></p>
<%= render 'form' %>
<table class="messages">

<% @messages.each do |message| %>
  <tr>
    <td class="time"><%= message.created_at.localtime.strftime('%H:%M') %></td>
    <td class="username">(<%= message.user_name.blank? ? 'unknown' : message.user_name %>)</td>
    <td class="content"><%= message.content %></td>
  </tr>
<% end %>
</table>
